
body {
  padding-top: 56px;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.col-lg-3 mb-4{
  float: left;
}
.card-bady{
  position: relative;

}
.card mb-4{
  width: 300px;
}
